.image-list-base{

}
.image-list-base .image-block{
    padding: 10px;
    text-align: center;
}
.image-list-base .image-block .comment-block{
    margin: 5px 0 0 0;

}

#modal-image-comment-list .image-comment-block{
    border-top: 1px solid #000000;
    padding: 10px;
}

#modal-image-comment-list .image-comment-block:first-child{
    border-top: none;
}