{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% thumbnail image.image "150x150" crop="center" as im %}
                    <img class="rounded mx-auto d-block" src="{{ im.url }}" width="{{ im.width }}"
                         height="{{ im.height }}">
                {% endthumbnail %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for comment in image.comments.all %}
                    <div class="text">{{ comment }}</div>
                {% endfor %}
            </div>
        </div>

<div class="row">
    <button class="btn btn-primary md-3" onclick="window.location.href='{% url 'image_list' %}'">Назад</button>
</div>
    </div>
{% endblock %}