{% extends 'base.html' %}

{% load thumbnail %}
{% block content %}
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Закрыть</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <img class="rounded mx-auto d-block" id="imagepreview" src="{{ image.image.url }}"
                                     style="width: 100%;">
                            </div>
                            <div class="col-12 preview-image-comments">
                                <div id="modal-image-comment-list"></div>
                                <div>
                                    <form action="" enctype="multipart/form-data" method="post" id="comment-form"
                                          data-id="">
                                        {% csrf_token %}
                                        <input type="text" id="comment-text" size="40">
                                        <button type="submit" class="btn btn-default" data-dismiss="modal"
                                                id="comment-create-button">Добавить
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row image-list-base">
            {% for image in image_list %}
                <div class="col-3 image-block" onclick="open_image_modal({{ image.pk }})">
                    <a href="#" id="pop-{{ image.pk }}">
                        {% thumbnail image.image "150x150" crop="center" as im %}
                            <img class="rounded mx-auto d-block" id="imageresource-{{ image.pk }}" src="{{ im.url }}"
                                 width="{{ im.width }}"
                                 height="{{ im.height }}">
                        {% endthumbnail %}
                    </a>


                    <div class="comment-block">Комментарии ({{ image.comments.count }})</div>

                    {#                    {% for com in image.comments.all %}#}
                    {#                        <div class="text mx-auto">{{ com }}</div>#}
                    {#                    {% endfor %}#}
                    {#                    <button onclick="window.location.href='{% url 'comment_create' image_id=image.pk %}'"#}
                    {#                            type="submit" class="btn btn-primary md-3">Добавить комментарий#}
                    {#                    </button>#}
                </div>
            {% endfor %}

            {% if is_paginated %}
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item ">
                            {% if page_obj.has_previous %}
                                <a class="page-link"
                                   href="{% url 'image_list' %}?page={{ page_obj.previous_page_number }}"
                                   tabindex="-1">{{ page_obj.previous_page_number }}</a>
                            {% endif %}
                        </li>

                        <li class="page-item active">
                            <a class="page-link" href="#"> {{ page_obj.number }} <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link"
                                   href="{% url 'image_list' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                            {% endif %}
                        </li>

                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extrascripts %}
    <script type="application/javascript">
        function init_comment(msg) {
            var elementCommentBlock = $('<div/>', {
                text: msg,
                class: 'image-comment-block',
            });
            return elementCommentBlock;
        }

        $('#comment-create-button').click(function () {
            var form = $('#comment-form');

            var image_id = form.attr('data-id');

            $.ajax({
                method: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    text: $('#comment-text').val(),
                },
                headers:
                    {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
                url:
                "/comment/" + image_id + "/create/",
                success: function (response) {
                    alert("lol");
                    document.getElementById("comment").innerHTML = response;
                }

                ,
                error: function () {
                    alert("error");
                }
            });
        })
        ;

        function open_image_modal(id) {
            var img_block = $("#pop-" + id);
            $('#imagepreview').attr('src', img_block.find('#imageresource-' + id).attr('src'));
            $('#comment-form').attr('data-id', id);

            $('#imagemodal').modal('show');

            var commentBlock = $('#modal-image-comment-list');
            commentBlock.empty();

            $.ajax({
                method: "GET",
                url: "/image/" + id + "/comments"
            }).done(function (data) {
                var arr = data['comments'];
                var msg = '';
                arr.forEach(function (item, i, arr) {
                    msg = item['text'];
                    commentBlock.append(init_comment(msg))
                });
            });
        }
    </script>
{% endblock %}